name: Ruby specs

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

permissions:
  contents: read

jobs:
  test:
    name: Ruby specs
    runs-on: ubuntu-latest

    strategy:
      matrix:
        ruby-version: ['3.0', '3.1', '3.2', '3.3', '3.4', '4.0']
        channel: [stable]

        include:
          - ruby-version: 'head'
            channel: experimental

    continue-on-error: ${{ matrix.channel != 'stable' }}

    env:
      SP_URL: http://localhost:1234/
      SP_AUTHENTICATION: token
      SP_CLIENT_ID: clientfoo
      SP_CLIENT_SECRET: secretfoo
      SP_TENANT_ID: tenantfoo
      SP_CERT_NAME: certfoo
      SP_AUTH_SCOPE: http://localhost:1234/
      SP_USERNAME: userfoo
      SP_PASSWORD: passfoo

    steps:
    - uses: actions/checkout@v6
    - name: Set up Ruby
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: ${{ matrix.ruby-version }}
        bundler-cache: true
    - name: Run specs
      run: bundle exec rspec
